.botao-editar {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    opacity: 0.8;   
    border: none; /* Remova a borda */
    background: none; /* Fundo branco */
    margin-right: 0px; /* Adicione a margem desejada à direita */
    margin-left: -100px;
    margin-top: -10px;
    margin-bottom: 20px;
    position: absolute;
}

.botao-excluir {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    opacity: 0.8;
    border: none; /* Remova a borda */
    background: none; /* Fundo branco */
    margin-right: 0px; /* Adicione a margem desejada à direita */
    margin-left: -80px; /* Adicione a margem desejada à direita */
    margin-top: -10px;
    margin-bottom: 20px;
    position: absolute;
}

.botao-adicionar {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    opacity: 0.8;
    border: none; /* Remova a borda */
}

.product-list {
  list-style: none;
  padding: 0;
}

.product-item {
  margin-bottom: 10px;
  padding: 10px;
  border: none; /* Remova a borda */
  border-radius: 6px;
  background-color: #ffffff; /* Cor de fundo branca */
}

.product-info {
  margin-bottom: 5px;
  border-bottom: 1px solid #000000; /* Adiciona uma borda inferior */
  padding-bottom: 5px; /* Espaço abaixo da borda */
}

.product-header {
  margin-bottom: 10px;
  padding: 10px;
  border: none; /* Remova a borda */
  border-radius: 6px;
  border-bottom: 1px solid #000000; /* Adiciona uma borda inferior */
}

.listagem-heading {
  color: var(--Primary, #545F71);

  /* Estilos de tipografia */
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.64px;
}

.product-bla {
  margin-left: 100px; 
  margin-right: 100px;
}

.product-blapreco {
  margin-left: 100px; 
  margin-right: 25px;
}

.product-blaprecoheader {
  margin-left: 90px; 
  margin-right: 140px;
}

.product-nome-item {
  margin-left: 102px; 
  margin-right: 100px;
  position: absolute;
}

.product-tipo-item {
  margin-left: 365px; 
  margin-right: 300px;
  position: absolute;
}

.product-preco-item {
  margin-left: 620px; 
  margin-right: 10px;
  position: absolute;
}

.linhas {
  margin-top: 20px;
  margin-bottom: 20px;
}