.botao-editar {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  opacity: 0.8;
  border: none;
  background: none;
}

.botao-excluir {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  opacity: 0.8;
  border: none;
  background: none;
}

.botao-buscar {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  opacity: 0.6;
  border: none;
  background: none;
}


.botao-adicionar {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    opacity: 0.8;
    border: none;
}

.product-list {
  list-style: none;
  padding: 0;
}

.product-item {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #ffffff; 
}

.product-info {
  margin-bottom: 5px;
  border-bottom: 1px solid #000000; 
  padding-bottom: 5px; 
}

.product-header {
  margin-bottom: 10px;
  padding: 10px;
  border: none; 
  border-radius: 6px;
  border-bottom: 1px solid #000000; 
}

.listagem-heading {
  color: var(--Primary, #545F71);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.64px;
}

.product-bla {
  margin-left: 100px; 
  margin-right: 100px;
}

.product-blapreco {
  margin-left: 100px; 
  margin-right: 25px;
}

.product-blaprecoheader {
  margin-left: 90px; 
  margin-right: 10px;
}

.product-nome-item {
  margin-left: 102px; 
  margin-right: 100px;
  position: absolute;
}

.product-tipo-item {
  margin-left: 365px; 
  margin-right: 300px;
  position: absolute;
}

.product-preco-item {
  margin-left: 620px; 
  margin-right: 10px;
  position: absolute;
}

.product-quantidade-item {
  margin-left: 820px; 
  margin-right: 10px;
  position: absolute;
}

.linhas {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-input-container {
  display: flex;
  align-items: center; /* Centralize verticalmente */
}

.search-input {
  border: 1px solid #ccc; /* Borda fina cinza */
  border-radius: 20px; /* Cantos arredondados */
  padding: 5px 10px; /* Espaçamento interno */
  flex-grow: 1; /* Cresce para ocupar o espaço restante */
  margin-right: 10px; /* Espaçamento à direita do input */
}

.botao-buscar {
  background-color: transparent; /* Fundo transparente */
  border: none; /* Sem borda */
  cursor: pointer; /* Mostrar cursor de mão ao passar o mouse */
}

/* Estilo para imagem dentro do botão */
.botao-buscar img {
  width: 20px; /* Largura da imagem */
  height: 20px; /* Altura da imagem */
}